.cabecera {
    width: 100%;
    height: 60px;
    background-color: gold;
}

.cabecera .navbar-brand{ 
    color: green;
    width: 100%;
    background-color: gold;
    text-decoration: none;
    font-size: 30px;
    margin: auto;
}

.cabecera .navbar-brand span{  
    color: maroon;
}