@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;800&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

nav{
  padding: 0 !important;
}

.navegador{
  background-color: #364f59;
  color: #f1f1e6;
}

.nav-link{
  color: #f1f1e6 !important;
  padding-left: 10px;
}

.nav-item > h2{
  color: #ce7d2d;
}


.tarjeta {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.tarjeta img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.tarjeta::before,
.tarjeta::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(red, green, blue, 1);
  transition: all 0.5s;
}

.tarjeta::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.tarjeta::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.tarjeta:hover::before,
.tarjeta:hover:after {
  color: #364f59;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
  background-color: #b8d3df;
}

.empresa .tarjeta:hover:after{
  content: attr(texto);
}
.centro .tarjeta:hover:after{
  content: attr(texto);
}
.estudiante .tarjeta:hover:after {
  content: attr(texto);
}

footer{
  background-color: #364f59;
  color: #f1f1e6;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer .resaltar{
  background-color: #ce7d2d;
  color: #364f59;
  border: 2px solid #364f59;
  border-top: 0;
  margin-bottom: 20px;
}

footer .resaltar > p:nth-child(1){
  margin-top: 10px;
  font-weight: 600;
}

footer a{
  color: #f1f1e6;
  text-decoration: none;
}

.redes a{
  margin: 1%;
  padding: 5px;
  border-radius: 10%;
  font-size: 20px;
}

.redes a:hover{
  background-color: #ce7d2d;
  color: #364f59;
}

.copi p{
  margin: 0;
}


